@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf") format("ttf");
}

body {
    /*background: linear-gradient(to bottom, black, white);*/
    background-color: white;
    height: 100vh;
    /*margin: 0;*/
    padding-top: 0vw;
    padding-left: 1vw;
    scroll-behavior: smooth;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 19vw);
    grid-template-rows: repeat(3, 21vw);
    gap: 1vw;
}

.info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-left: 2%;
    padding-top: 0%;
    color: #ce5c16;
    font-family: "Roboto Flex", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
}

.custom-cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    pointer-events: none;
    /* Ensure it doesn't interfere with mouse events */
    z-index: 99;
    /* Ensure it's on top of other elements */
}

.container-button,
.container-button-2,
.container-button-3 {
    margin-top: 35%;
    margin-left: -205%;
}


.container-button {
    text-align: center;
}

.container-button button {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 2vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container-button button:focus {
    outline: none;
}

.container-button-2 {
    text-align: center;
}

.container-button-2 button {
    width: 10vw;
    height: 10vw;
    margin-left: -10%;
    /*max-width: 100px;
    max-height: 100px;*/
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-button-2 button:focus {
    outline: none;
}

.container-button-3 {
    text-align: center;
}

.container-button-3 button {
    width: 10vw;
    height: 10vw;
    margin-left: -20%;
    /*max-width: 100px;
    max-height: 100px;*/
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-button-3 button:focus {
    outline: none;
}

.container-button-4 {
    text-align: center;
}

.container-button-4 button {
    width: 35vw;
    height: 35vw;
    /*max-width: 100px;
    max-height: 100px;*/
    margin-top: -96%;
    margin-left: 320%;
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-button-4 button:focus {
    outline: none;
}

.container-button-5 a {
    text-align: center;
    text-decoration: none; /* Entfernt den Unterstrich */
    color: inherit; /* Behält die Farbe des Textes bei */
    
}

.container-button-5 button {
    width: 26vw;
    height: 26vw;
    /*max-width: 100px;
    max-height: 100px;*/
    margin-top: 30%;
    margin-left: -85%;
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 3vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container-button-5 button:focus {
    outline: none;
}

.container-button-6 {
    text-align: center;
}

.container-button-6 button {
    width: 60vw;
    height: 60vw;
    /*max-width: 100px;
    max-height: 100px;*/
    margin-top: 80%;
    margin-left: -78%;
    border-radius: 50%;
    background-color: #ce5c16;
    color: white;
    border: none;
    font-size: 3vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container-button-6 button:focus {
    outline: none;
}

@media all and (max-width: 40em) {
    .container-button-4 button {
        margin-top: 110%;
        margin-left: 250%;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

    .container-button-5 button {
        margin-top: 30%;
        margin-left: -85%;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

    .container-button-6 button {
        margin-top: 380%;
        margin-left: -160%;
        width: 70vw;
        height: 70vw;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

}

@media all and (min-width: 40.1em) {
    .container-button-4 button {
        margin-top: -96%;
        margin-left: 320%;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

    .container-button-5 button {
        margin-top: 30%;
        margin-left: -85%;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

    .container-button-6 button {
        margin-top: 80%;
        margin-left: -78%;
        transition: margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }
}